@*Created 06/15/2015 Nikki's Computer*@
@model SWCLMS.Models.DataResponse<SWCLMS.Models.Tables.LmsUser>
@{
    ViewBag.Title = "Search";
}
<body>
    <h2>User Search</h2>
    <div class="row">
        @using (Html.BeginForm("Search", "Admin"))
        {
            @Html.HiddenFor(u => u.Data.UserID)
            <p>
                <div class="col-md-2">
                    @Html.TextBoxFor(u => u.Data.LastName, new { @class = "form-control", placeholder = "Last name"})
                </div>

                <div class="col-md-2">
                    @Html.TextBoxFor(u => u.Data.FirstName, new { @class = "form-control", placeholder = "First name" })
                </div>

                <div class="col-md-2">
                    @Html.TextBoxFor(u => u.Data.Email, new { @class = "form-control", placeholder = "Email"})
                </div>

                <div class="col-md-2">
                    <label>Role</label> @*this is a placeholder for the dropdown*@
                    @*@Html.DropDownList(u => u.Data.SuggestedRole)*@
                </div>

                <button>Search</button>
</p>
        }
    </div>
</body>
